<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<form th:action="@{/login}" method="post" id="loginForm" class="form__auth">
  <div class="form-header">
    <h2>로그인</h2>
    <hr/>
  </div>
  <div class="form-content">
    <div class="form-group">
      <label for="email" th:text="이메일"></label>
      <input type="email" placeholder="이메일을 입력해주세요" id="email" required/>
    </div>

    <div class="form-group">
      <label for="password" th:text="비밀번호"></label>
      <input type="password" placeholder="비밀번호를 입력해주세요" id="password" required/>
    </div>
  </div>
  <div class="form-footer">
    <button type="submit" class="login_btn">로그인</button>
    <hr/>
  </div>
</form>
<div class="additional-links">
  <p><a th:href="@{/users/new}">회원가입</a> 페이지로 이동</p>
</div>
<script th:inline="javascript" th:src="@{/assets/js/jquery/login.js}"></script>
<script th:inline="javascript" th:src="@{/assets/js/jquery/header.js}"></script>
</body>
</html>