<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>

<form th:action="@{/users/new}" method="post" id="signupForm">
    <div class="form-header">
        <h2>회원가입</h2>
        <hr>
    </div>
    <div class="form-content">
        <div class="form-group">
            <label for="email" th:text="이메일"></label>
            <input type="email" placeholder="이메일을 입력해주세요" id="email" required/>
        </div>

        <div class="form-group">
            <label for="password" th:text="비밀번호"></label>
            <input type="password" placeholder="영문자,숫자,특수문자 포함 8~16자" id="password"
                   minlength="8" maxlength="16" required/>
            <input type="password" placeholder="비밀번호를 확인해주세요" id="passwordConfirmation"
                   minlength="8" maxlength="16" required/>
        </div>

        <div class="form-group">
            <label for="userName" th:text="이름"></label>
            <input type="text" placeholder="이름을 입력해주세요" id="userName"
                   minlength="2" maxlength="30" required/>
        </div>
    </div>
    <div class="form-footer">
        <button type="submit" class="signup_btn">회원가입</button>
    </div>
</form>
<div class="additional-links">
    <p><a th:href="@{/login}">로그인</a> 페이지로 이동</p>
</div>
<script th:inline="javascript" th:src="@{/assets/js/jquery/signup.js}"></script>
<script th:inline="javascript" th:src="@{/assets/js/jquery/header.js}"></script>
</body>
</html>
