<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- snake_case를 camelCase로 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="com.soo0.bulletin_board.domain.vo.User"/>
        <typeAlias alias="UserInfo" type="com.soo0.bulletin_board.domain.vo.UserInfo"/>
        <typeAlias alias="Board" type="com.soo0.bulletin_board.domain.vo.Board"/>
        <typeAlias alias="BoardInfo" type="com.soo0.bulletin_board.domain.vo.BoardInfo"/>
        <typeAlias alias="Post" type="com.soo0.bulletin_board.domain.vo.Post"/>
        <typeAlias alias="PostInfo" type="com.soo0.bulletin_board.domain.vo.PostInfo"/>
        <typeAlias alias="PostListRequest" type="com.soo0.bulletin_board.domain.dto.PostListRequest"/>
        <typeAlias alias="PostSaveRequest" type="com.soo0.bulletin_board.domain.dto.PostSaveRequest"/>
    </typeAliases>
</configuration>