<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="postPage" id="postPage">
  <div class="post-header">
    <h3 class="post-header__board"></h3>
    <h2 class="post-header__title"></h2>
    <div class="post-header__info">
      <span class="post-header__writer"></span>
      <span class="post-header__created-date"></span>
      <span class="post-header__view-cnt"></span>
    </div>
  </div>

  <hr/>

  <div class="post-content"></div>

  <div class="post-footer post-controls">
    <button type="button" class="btn__modify-post">수정</button>

    <button type="button" class="btn__remove-post">삭제</button>

    <button type="button" class="btn__create-post">글쓰기</button>

    <button type="button" class="btn__list-post">목록</button>
  </div>
</div>
</html>
